/* Variables */
.slide_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide_content .imgcontainer {
  width: 90%;
  max-width: 800px;
}
.slide_content .imgcontainer img {
  width: 100%;
}
.slide_content .title {
  font-size: 26pt;
  color: #FAF911;
  text-transform: uppercase;
}
@media (min-width: 800px) {
  .slide_content .title {
    font-size: 40pt;
  }
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.section .fp-tableCell {
  background-color: rgba(0, 0, 0, 0.4);
}
.arrow {
  text-align: center;
  margin: 40px 0;
  color: #FAF911;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
